*{
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;
  background-color: #A6A6A6;

  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Nav styles*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1vh;
  background-color: rgb(38, 38, 38);

  height: 5vh;
  position: sticky;
}
.categories{
  display: flex;
  justify-content: space-between;
  width: 30em;
}
.categories h5,a{
  text-decoration: none;
  color: #F3E5DA;
}
.categories a:hover{
  text-decoration: underline;
  transform: scaleX(1.1);
}
.logo{
  width: 150px;
  height: 120px;
}

/* Main */
.landing{
  background-image: url('./men_landing2.jpeg');
  background-size: cover;
  width: 100vw;
  height: 90vh;

  padding-top: 15vh;
}
.display{
  margin-left: 20vw;
  width: 60vw;
  height: 60vh;
  border: 1px solid black;

  border-radius: 10px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(38, 38, 38,0.7);
}
.wedding-display{
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}
.wedding-display img{
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  margin-top: 30px;
  transition: transform 0.5s;
}
.wedding-display img:hover{
  transform: rotate(-10deg);
}
.description h1{
  margin-left: 20px;
  color: #F3E5DA;
  margin-top: 30px;
}
.description p{
  margin-left: 20px;
  margin-top: 50px;
  color: #F3E5DA;
}
.cta {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 1.5em;
    background: #A66C9D;
    color: #F3E5DA;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

.cta:hover {
    background: #9AEBA3;
    transform: scale(1.1);
}
.wedding, .modern, .casual{
  margin-top: 3vh;
  background-color: rgb(38, 38, 38);
}
.wedding-image, .modern-image, .casual-image{
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 70vh;

  margin-left: 10vw;
  margin-top: 10vh;
  gap: 10px;
  overflow-x: scroll;
}
.chiffon-image img {
  border: 1px solid white;
}
.wedding-image img{
  border: 1px solid white;
}
.modern-image img{
  border: 1px solid white;
}
.casual-image img{
  border: 1px solid white;
}

img:hover{
  transform: scale(1.1);
}
