*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}

nav{
  background-color: rgb(186, 224, 222);
  display: flex;
  justify-content: space-between;
  align-items: center;


  height: 5vh;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;

  position: absolute;
}
.nav-list{
  display: flex;
  width: 50%;
}

.nav-list a{
  text-decoration: none;
  color: #2A464D;
}
.nav-list a:hover{
  text-decoration: underline;
  transform: scaleX(1.1);
}

.landing-page{
  display: flex;
  gap: 110px;

  height: 100vh;
  width: 100vw;
  background-color: rgb(186, 224, 222);

}
.text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button{
  width: 120px;
  height: 40px;
  background-color: #243B41;
  border-style: none;
  color: white;

  margin-top: 100px
}
.products{
  background-color: #DAF7ED;
  width: 100vw;
  height: 85vh;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.product-img{
  display: flex;
  gap: 100px;
  margin-top: 30px;
  margin-left: 7vw;
  overflow-x: scroll;
}
.order{
  text-decoration: none;
}
.order:hover{
  text-decoration: underline;
}
.our-service{
  background-color: #DAF7ED;
  width: 100vw;
  height: 85vh;
  padding-left: 7vw;
  padding-top: 4vw;
}
.our-service1{
  display: flex;
  gap: 150px;
  color: #2A464D;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.image-1,.image-2,.image-3{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* Contact Us */
.contact-us{
  height: 50vh;

  background-color: #2A464D;
  color: #BAE0C9;

  display: flex;
  gap: 400px;
}

.comment{
  margin-left: 20vh;
  margin-top: 7vh;
}
.contact-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10vh;
}
.send{
  border-radius: 20px;
  width: 100px;
  height: 40px;

  background-color: #BAE0C9;
  border-style: none;
  color: white;
}
